.offer-container {
  /* position: relative; */

  /* background-color: aliceblue; */
  /* height: 17rem; */
  /* border-radius: 50%; */
  /* box-shadow: 0px 0px 50px #F4E9CD; */
  margin: 1rem;
  /* margin-bottom: 2rem; */
  /* margin-right: -3rem; */
  letter-spacing: 0.05em;
/*   border: 1px solid green; */
}

.all-offers-scrollable-container {
  width: 100%;
  height: 50%;
  overflow-y: auto;
}

.offer-box {
  border: 2px solid #acbbb9;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #1c2d39;
}

.req-offer-container {
  background-color: #9dbebb;
  /* margin-top: 3rem; */
  padding-top: 3rem;
  /* color:#031926; */
  overflow-x: hidden;
}

.req-offer-container .notify-modal-problems .box{
  width: 80%;
}

.bigger {
  /* padding: .5rem; */
  font-size: xx-large;
  /* box-shadow: 0px 0px 50px #F4E9CD; */
}

.green {
  color: green;
  font-size: x-large;
}

.pad {
  margin: 1rem;
  /* background-color:#9DBEBB ; */
}

.close {
  /* color:red; */
  font-size: x-large;
}

.des-box-dim {
  color: rgb(194, 182, 151);
}

.des-box-lightweight {
  font-weight: 100 !important;
}

.open-req-dim {
  color: rgb(212, 195, 150);
}

.open-req-modal-status {
  color: rgb(65, 200, 2);
}

.open-req-modal-content {
  font-size: 1.2vw;
  line-height: 1.3em;
}

.accepted-offers {
  margin: auto;
  margin-top: 5rem;

  width: 50%;
}

.accepted-offer-dim {
  color: rgb(212, 195, 150);
}

.accepted-offer-content {
  font-size: 1.3vw !important;
}

.accepted-offer-content:nth-child(4) {
  padding-top: 0;
}

.req-modal-requester-link {
  color: #F4E9CD !important;
}

.req-modal-dim {
  color: rgb(212, 195, 150);
}

.center {
  align-items: center;
  text-align: center;
  align-content: center;
}

.review {
  /* background-color: #9DBEBB; */
  padding: 0.5rem;
  border: 2px solid #60968f;
  background-color: #95b1af;
  border-radius: 10px;
  color: #031926;
  margin: 1em;
  font-size: 1.2vw;
  /* text-align: start; */

  /* background-color: whitesmoke; */
}

.req {
  font-size: xx-large;
  cursor: pointer;
  color: #9dbebb;
}

.accepted-offers-fab {
  font-size: 3em;
  position: fixed;
  left: 67vw;
  bottom: 10vw;
}

.edit-delete{
  text-align: end;
  /* background-color: aliceblue; */
  display: inline-block;
  /* margin-left: 18rem; */
}

.padding{
padding: .3rem;
cursor: pointer;
}

.pending{
  background-color:#1c2d39 ;
  border: 2px solid #acbbb9;
  text-align: center;
  padding: 3rem;
  position: relative;
  border-radius: 1rem;
}

.problem-image{
  width: 70%;
}

.user-review{
  display: block;
  color: #1c2d39;
  width: 100%;
  text-align: start;
}

.space-review{
  display: flex;
  justify-content: space-between;
  /* background-color: #031926; */
}

.pending-offer-edit-delete{
  /* background-color: #031926; */
  width: 30%;
  margin-left: -6rem;

}

@media screen and (width > 1440px) {
  .pending-offer-edit-delete {
    margin-left: -7rem;
  }
}
