.nav-bar-container {
  margin-top: 1vw;
  margin-right: 1vw;
  margin-left: 1vw;
  position: relative;
  color: inherit;
}

.logo-container {
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: 0.65vw;
}

.main-pg-logo {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.links-auth {
  position: absolute;
  right: 1vw;
  top: 1vw;
  color: inherit;
}

.nav-btn {
  --c: #9DBEBB;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  border: 1px solid var(--c);
  margin-top: 1vw;
  padding: 0.5vw 0.7vw;
  font-size: 1.3vw;
  border-radius: 5px;
  width: 5vw;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  word-spacing: 0.3em;
  letter-spacing: 0.05em;
}

.nav-btn:first-child, 
.nav-btn:nth-child(2),
.nav-btn-gp2:first-child, 
.nav-btn-gp2:nth-child(2) {
  margin-right: 1vw;
}

.nav-btn span,
.nav-btn-gp2 span {
  position: absolute;
  width: 52%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 1s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.nav-btn:hover, 
.nav-btn-gp2:hover, 
.nav-btn:hover,
#about-btn:hover {
  color: #031926;
}

.nav-btn:hover span,
.nav-btn-gp2:hover span {
  transform: translateY(0) scale(2);
}

.nav-btn span:first-child,
.nav-btn-gp2 span:first-child {
  --n: 3;
}

.nav-btn span:nth-child(2),
.nav-btn-gp2 span:nth-child(2) {
  --n: 2;
}

.nav-btn span:nth-child(3),
.nav-btn-gp2 span:nth-child(3) {
  --n: 6;
}

.nav-btn span:nth-child(4),
.nav-btn-gp2 span:nth-child(4) {
  --n: 1;
}

#about-btn {
  position: absolute;
  color: inherit;
  right: 80vw;
}

.links-nav {
  position: relative;
  right: 1vw;
  top: 1vw;
  color: inherit;
}

.nav-btn-gp2 {
  --c: #9DBEBB;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  border: 1px solid var(--c);
  margin-top: 1vw;
  font-size: 1.3vw;
  padding: 0.5vw 0.7vw;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  word-spacing: 0.3em;
  letter-spacing: 0.05em;
}

.all-requests-btn {
  position: absolute;
  right: 78vw;
  width: 8vw;
}

.new-request-btn {
  position: absolute;
  right: 66vw;
}

.user-profile-btn {
  position: absolute;
  right: 6vw;
}

.logout-btn {
  position: relative;
  left: 94.5vw;
  top: 2.4vw;
}

.logout-icon {
  transition: box-shadow 2s;
}

.logout-icon:hover {
  box-shadow: 0px 0px 5px 3px #fff;
}

@media screen and (width > 1440px) {
  .logout-btn {
    top: 2.8vw;
  }
}

@media screen and (width < 1200px) {
  .logout-btn {
    top: 2vw;
  }
}

@media screen and (width < 800px) {
  .logout-btn {
    top: 1vw;
  }
}

@media screen and (width < 600px) {
  .logout-btn {
    top: 0.1vw;
  }
}

.space{
  padding-bottom: 3rem;
}

.select {
  color: #666;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: #9DBEBB;
  width: 100%
}

#category {
  color: #666;
  width: 75%
}

/* Style the options */
#option {
  background-color: #ffffff;
  /* Set the background color for options */
}

/* Style the options on hover */
option:hover {
  background-color: #e0e0e0;
  /* Change background color on hover */
}

.selecr-font {
  color: #666;
  font-size: 1.3vw;
}

select:focus,
textarea:focus {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
}

select,
textarea {
  outline: none;
  transition: box-shadow 0.5s;
}