.live-private-chat-container {
    width: 80%;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
  }
  .live-private-chat-messages {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
  }
  .live-private-chat-input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .live-private-chat-input-form  input {
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  .live-private-chat-input-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #120505;
    cursor: pointer;
  }
  .live-private-chat-input-form button:hover {
    background-color: #0056b3;
  }
